# Logs
*.log

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Banco de dados locais (se usar SQLite, por exemplo)
*.sqlite
*.db

# Arquivos de configuração sensíveis (ex: variáveis de ambiente)
.env
